.tasks {
    margin: 5px;
    padding: 5px;
    list-style-type: none;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgb(98, 98, 98);
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    background-color: green;
    width: 30px;
    height: 30px;
    border: none;
}

.tasks__button--done {
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
}

.tasks__button--remove {
    width: 30px;
    height: 30px;
    background-color: rgb(235, 17, 17);
}